@page "/capabilities"

@using Vorlesung.Client.Pages.Capabilities.Components

<Spin Spinning="@IsGeneratingData">
    <AntDesign.Row Gutter="(16,24)">
        <AntDesign.Col Span="12">
            <Card Title="Capabilities">
                <CapabilityDetailsView Data="@Measurements" />
            </Card>
        </AntDesign.Col>

        <AntDesign.Col Span="12">
            <Card Title="Random Data">
                <Body>
                    <Collapse>
                        <Panel Header="Even Distribution">
                            <EvenDistributionGenerator OnDataChange="@OnDataChanged" OnGeneratingDataChange="@OnGeneratingDataChanged" />
                        </Panel>
                        <Panel Header="Standard Normal Distribution">
                            <StandardNormalDistributionGenerator OnDataChange="@OnDataChanged" OnGeneratingDataChange="@OnGeneratingDataChanged" />
                        </Panel>
                        <Panel Header="Normal Distribution">
                            <NormalDistributionGenerator OnDataChange="@OnDataChanged" OnGeneratingDataChange="@OnGeneratingDataChanged" />
                        </Panel>
                    </Collapse>
                </Body>
            </Card>
        </AntDesign.Col>

        <AntDesign.Col Span="12">
            <Card Title="Data">
                <Body>
                    <MeasurementTableView Data="@Measurements" OnDataChange="@OnDataChanged" />
                </Body>
            </Card>
        </AntDesign.Col>

        <AntDesign.Col Span="12">
            <Card Title="Graphics">
                <Body>
                    <HistogramView Data="@Measurements" />
                </Body>
            </Card>
        </AntDesign.Col>
    </AntDesign.Row>
</Spin>